# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [1]:
from pyspark.sql import SparkSession

# TODOS: 
# 1) import any other libraries you might need

In [2]:
# 2) instantiate a Spark session 
spark = SparkSession \
        .builder \
        .appName("Spark SQL Quiz") \
        .getOrCreate()

In [3]:
# 3) read in the data set located at the path "data/sparkify_log_small.json"
user_log = spark.read.json("data/sparkify_log_small.json")

In [6]:
# 4) create a view to use with your SQL queries

user_log.createOrReplaceTempView("table")

# 5) write code to answer the quiz questions

# Question 1

Which page did user id ""(empty string) NOT visit?

In [8]:
# TODO: write your code to answer question 1
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [9]:
spark.sql('''
    SELECT DISTINCT page
    FROM table
    WHERE userId == ""
    ''').show()

+-----+
| page|
+-----+
| Home|
|About|
|Login|
| Help|
+-----+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [13]:
# TODO: write your code to answer question 3
spark.sql('''
    Select count(distinct(userId)) as frmale_user
    from table
    where gender == 'F'
''').show()

+-----------+
|frmale_user|
+-----------+
|        462|
+-----------+

# Question 4

How many songs were played from the most played artist?

In [22]:
# TODO: write your code to answer question 4
spark.sql('''
    SELECT count(song) from table
    group by Artist
    order by count(song) desc
    limit 1    
''').show()

+-----------+
|count(song)|
+-----------+
|         83|
+-----------+

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5